<nb-card>
  <nb-card-header>
    List user
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="editUser($event)" (create)="addUser($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
