<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{ title }} Installation/Fwt</nb-card-header>
      <nb-card-body>
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lipsum</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="fwt.name" [ngModelOptions]="{standalone: true}" nbInput fullWidth placeholder="Lipsum" />
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lipsum</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="fwt.phone" [ngModelOptions]="{standalone: true}" nbInput fullWidth placeholder="Lipsum" />
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lipsum</label>
            <div class="col-sm-9">
              <input type="text" [(ngModel)]="fwt.locationFwt" [ngModelOptions]="{standalone: true}" nbInput fullWidth placeholder="Lipsum" />
            </div>
          </div>
          <div class="form-group row">
            <label class="label col-sm-3 col-form-label">Lipsum</label>
            <div class="col-sm-9">
              <textarea rows="5" [(ngModel)]="fwt.description" [ngModelOptions]="{standalone: true}" name="answer" nbInput fullWidth placeholder="Lipsum"></textarea>
            </div>
          </div>
          <div class="buttons-row">
            <div class="offset-sm-3 col-sm-9">
              <button nbButton [status]="'success'">{{ title }}</button>
              <button type="submit" nbButton status="disabled" (click)="backClicked()">Cancel</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
