<nb-card>
  <nb-card-header>
    List Report
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="editFwt($event)" (create)="addFwt($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
