<form class="form" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="firstName" class="label col-sm-3 col-form-label">FirstName</label>
    <div class="col-sm-9">
      <input type="text" nbInput fullWidth id="firstName" placeholder="FirstName" [(ngModel)]="userModel.firstName" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <label for="lastName" class="label col-sm-3 col-form-label">LatName</label>
    <div class="col-sm-9">
      <input type="text" nbInput fullWidth id="lastName" placeholder="LastName" [(ngModel)]="userModel.lastName" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <label for="username" class="label col-sm-3 col-form-label">Username</label>
    <div class="col-sm-9">
      <input type="text" nbInput fullWidth id="username" placeholder="Username" [(ngModel)]="userModel.username" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="label col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="text" nbInput fullWidth id="email" placeholder="Email" [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <label for="age" class="label col-sm-3 col-form-label">Age</label>
    <div class="col-sm-9">
      <input type="text" nbInput fullWidth id="age" placeholder="Age" [(ngModel)]="userModel.age" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
      <button type="submit" nbButton status="primary">{{ title }}</button>
      <button type="submit" nbButton status="disabled" (click)="close()">Cancel</button>
    </div>
  </div>
</form>
