<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Going Up Elavator</a>
  </div>
</div>
<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="email-outline" badgeText="50" badgeStatus="danger"  badgePosition="top right"></nb-action>
    <nb-action class="control-item" icon="bell-outline" badgeText="99+" badgeStatus="danger"  badgePosition="top right"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
